<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add User</h3>
  </div>
  <div class="panel-body">
    <form method="POST" action="/addUser">
      <div class="form-group">
        <label>LDAP</label>
        <div class="form-group has-warning">
          <label class="form-control-label" for="inputWarning1">New User LDAP</label>
          <input type="text" name="ldap" id="inputWarning1">
        </div>
      </div>

      <button type="submit" class="btn btn-default">Add User</button>
    </form>
  </div>
</div>
