<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class=<% if(page == "home"){ %>"active"<% } else { %>"inactive"<% } %>>
        <a href="/">Home</a>
      </li>
      <li class=<% if(page == "addGame"){ %>"active"<% } else { %>"inactive"<% } %>>
        <a href="/addGame">Add Game</a>
      </li>
      <li class=<% if(page == "addUser"){ %>"active"<% } else { %>"inactive"<% } %>>
        <a href="/addUser">Add User</a>
      </li>
      <li class=<% if(page == "gamelog"){ %>"active"<% } else { %>"inactive"<% } %>>
        <a href="/gamelog">Game Log</a>
      </li>
    </ul>
  </div>
</nav>
