<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Foosball</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <% if(page == "addGame"){ %>active<% } else { %>inactive<% } %>">
          <a class="nav-link" href="/addGame">Add Game</a>
        </li>
        <li class="nav-item <% if(page == "addUser"){ %>active<% } else { %>inactive<% } %>">
          <a class="nav-link" href="/addUser">Add User</a>
        </li>
        <li class="nav-item <% if(page == "gamelog"){ %>active<% } else { %>inactive<% } %>">
          <a class="nav-link" href="/gamelog">Game Log</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
