h2 {
  margin-top: 30px;
}

.btn {
  cursor: pointer;
}

.navbar {
  margin-bottom: 25px;
}

#system-stats-warning {
  margin-top: 15px;
}

@media (max-width: 770px) {
    .datatable {
      font-size: 12px;
    }
}
