<!DOCTYPE html>
<html>
<head>
  <title>Foosball | Add Game</title>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="alert alert-info" role="alert">
      <strong>Heads up!</strong> Form will not submit if any winning LDAP is equal to any losing LDAP.
    </div>
    <% include ../partials/addGameForm.ejs %>
  </div>
</body>

<% include ../partials/footer.ejs %>

</html>
