<!DOCTYPE html>
<html>
<head>
  <title>Foosball | Add Game</title>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <div class="container">
    <% if (errors) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        Winning and losing teams may not share LDAPs.
      </div>
    <% } %>
    <% include ../partials/addGameForm.ejs %>
  </div>
</body>

<% include ../partials/footer.ejs %>

</html>
