<!DOCTYPE html>
<html>
<head>
  <title>Foosball | Add User</title>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <div class="container">
    <% include ../partials/addUserForm.ejs %>
  </div>
</body>

<% include ../partials/footer.ejs %>

</html>
