<!DOCTYPE html>
<html>
<head>
  <title>Foosball | Game Log</title>
  <% include ../partials/header.ejs %>
</head>


<body>
  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="alert alert-info" role="alert">
      <strong>Heads up!</strong> Game log is based only on games entered in this system.
    </div>
    <% include ../partials/gamelog.ejs %>
  </div>
</body>

<% include ../partials/footer.ejs %>

</html>
