<!DOCTYPE html>
<html>
<head>
  <title>Foosball | Game Log</title>
  <% include ../partials/header.ejs %>
</head>


<body>
  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <strong>Heads up!</strong> Game log is based only on games entered in this system.
    </div>
    <% include ../partials/gamelog.ejs %>
  </div>
</body>

<% include ../partials/footer.ejs %>

</html>
