<!DOCTYPE html>
<html>
<head>
  <title>Foosball | Home</title>
  <% include ../partials/header.ejs %>
</head>


<body>
  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="alert alert-info" role="alert">
      These ratings reset on <strong>June 21st</strong> for the <strong>summer season</strong>. <a href="/summer">More info here</a>.
    </div>

    <div>
      <% include ../partials/ratings.ejs %>
    </div>
    <h2>In Placements</h2>
      <div class="alert alert-info" role="alert">
        You must play <strong>9 placement games</strong> before being officially ranked.
      </div>
      <% include ../partials/placements.ejs %>
    </h2>
  </div>
</body>

<% include ../partials/footer.ejs %>

</html>
