<!DOCTYPE html>
<html>
<head>
  <title>Foosball | Home</title>
  <% include ../partials/header.ejs %>
</head>


<body>
  <% include ../partials/nav.ejs %>

  <div class="container">
      <% include ../partials/ratings.ejs %>
  </div>
</body>

<% include ../partials/footer.ejs %>

</html>
