<!DOCTYPE html>
<html>
<head>
  <title>Foosball | Home</title>
  <% include ../partials/header.ejs %>
</head>


<body>
  <% include ../partials/nav.ejs %>

  <div class="container">

    <div>
      <% include ../partials/ratings.ejs %>
    </div>
    <h2>In Placements</h2>
    <div class="alert alert-info" role="alert">
      You must play <strong>9 placement games</strong> before being officially ranked.
    </div>
    <% include ../partials/placements.ejs %>

    <h2>Time Chart</h2>
    <% include ../partials/timeChart.ejs %>
  </div>
</body>

<% include ../partials/footer.ejs %>

<script language="javascript">
  /* Reload page after 29 minutes */
  setTimeout(function() { location.reload(true); }, 1740000);
</script>

</html>
