<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add Game</h3>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label for="winning_user_1">Winning User 1</label>
              <input type="winning_user_1" class="form-control" id="winning_user_1" placeholder="Username">

              <label for="winning_user_2">Winning User 2</label>
              <input type="winning_user_2" class="form-control" id="winning_user_2" placeholder="Username">
            </div>
           
            <div class="form-group">
              <label for="losing_user_1">Losing User 1</label>
              <input type="losing_user_1" class="form-control" id="losing_user_1" placeholder="Username">

              <label for="losing_user_2">Losing User 2</label>
              <input type="losing_user_2" class="form-control" id="losing_user_2" placeholder="Username">
            </div>

            <button type="submit" class="btn btn-default">Add Game</button>
          </form>
        </div>
      </div>
      
      <table class="table table-striped">
        <tr>
          <th>Username</th>
          <th>Rank</th>
        </tr>
        <% users.forEach(function(user) { %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.rank %></td>
          </tr>
        <% }); %>
      </table>
    </div>
  </div>
</div>
</body>
</html>
