<!DOCTYPE html>
<html>
<head>
  <title>Foosball | Home</title>
  <% include ../partials/header.ejs %>
</head>


<body>
  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      These ratings reset on <strong>June 21st</strong> for the <strong>summer season</strong>. <a href="/summer">More info here</a>.
    </div>

    <div>
      <% include ../partials/ratings.ejs %>
    </div>
    <h2>In Placements</h2>
    <div class="alert alert-info" role="alert">
      You must play <strong>9 placement games</strong> before being officially ranked.
    </div>
    <% include ../partials/placements.ejs %>

    <h2>Time Chart</h2>
    <% include ../partials/timeChart.ejs %>
  </div>
</body>

<% include ../partials/footer.ejs %>

</html>
