<!DOCTYPE html>
<html>
<head>
  <title>Foosball | <%= ldap %> </title>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>


  <div class="container">
    <div>
      <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> Personal stats are based only on games entered in this system.
      </div>
      <h2>Totals</h2>
      <% include ../partials/statsTotals.ejs %>
      <h2>Gamelog</h2>
      <% include ../partials/gamelog.ejs %>
    </div>
  </div>
</body>

</html>
